[submodule "packages/foundry/lib/forge-std"]
	path = buidlguidl/packages/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/foundry/lib/openzeppelin-contracts"]
	path = buidlguidl/packages/foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/foundry/lib/solidity-bytes-utils"]
	path = buidlguidl/packages/foundry/lib/solidity-bytes-utils
	url = https://github.com/gnsps/solidity-bytes-utils
